/* Reset stylów */
body, h1, h2, p, ul, li 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Ogólny styl strony */
body 
{
    font-family: Arial, sans-serif;
    line-height: 2;
    color: #272525;
    background-color: #f9f9f9;
    margin: 0;
}

/* Nagłówek */
header 
{
    text-align: center;
    background-color: #20252b; 
    color: #fff;
    padding: 50px;
    position: relative;
}

header .logo-container 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    transition: transform 0.3s ease-in-out; 
}

header .logo-container:hover 
{
    transform: scale(1.1); 
}

header .logo 
{
    max-width: 125px;
    transition: transform 0.3s ease-in-out; 
}

header .logo-container:hover .logo 
{
    transform: scale(1.1); 
}

header h1 
{
    font-size: 2em;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; 
}

header .logo-container:hover h1 
{
    color: #e7da20; 
    transform: scale(1.05); 
}

/* Stylizacja podtytułu */
header p 
{
    font-size: 1.2em;
    margin-top: 15px; 
    color: #ffffff;
    transition: color 0.3s ease, transform 0.3s ease; 
}

header p:hover 
{
    color: #e0ec2f; 
    transform: translateY(-5px) scale(1.05); 
}


/* Sekcje */
.framed-section 
{
    border: 3.5px solid #ccc;
    padding: 20px;
    margin: 45px auto;
    background: #fff;
    border-radius: 8px;
    max-width: 1000px; 
    box-shadow: 0 4px 8px rgba(28, 26, 129, 0.541);
}
/* Sekcja Naszym klientom oferujemy */
.client-offer 
{
    border: 1px solid #363232;
    background-color: #f7faff;
    padding: 40px;
    border-radius: 40px;
    margin: 40px auto;
    max-width: 1100px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.client-offer:hover 
{
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(28, 26, 129, 0.541);
}


/* Stylizacja sekcji usług */
.services-wrapper 
{
    border: 1px solid #363232;
    background-color: #f7faff;
    padding: 40px;
    border-radius: 40px;
    margin: 40px auto;
    max-width: 1100px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.services-wrapper:hover 
{
    transform: scale(1.02);
}

/* Stylizacja nagłówków */
h2, h3 
{
    text-align: center;
}

/* Separator między usługami */
.separator 
{
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}



/* Biografia - układ i styl */
.biography-content 
{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px;
    gap: 20px; 
}

.biography-text 
{
    flex: 1;
    padding: 0; 
}

.biography-image 
{
    text-align: center;
}

.portrait 
{
    max-width: 150px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.portrait:hover 
{
    transform: scale(1.2); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

/* Stylizacja responsywna */
@media (max-width: 768px) 
{
    .biography-content 
    {
        padding: 10px; 
    }

    .portrait 
    {
        max-width: 200px; 
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); 
    }

    .portrait:hover 
    {
        transform: scale(1.3); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 1); 
    }
}

@media (max-width: 480px) 
{
    .portrait {
        max-width: 250px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }

    .portrait:hover 
    {
        transform: scale(1.4); 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    }
}


/* Stylizacja responsywna */
@media (max-width: 768px) 
{
    .biography-content 
    {
        padding: 10px; 
    }

    .portrait 
    {
        max-width: 200px; 
    }

    .portrait:hover 
    {
        transform: scale(1.3); 
    }
}

@media (max-width: 480px) 
{
    .portrait {
        max-width: 250px; 
    }

    .portrait:hover {
        transform: scale(1.4); 
    }
}

/* Kontakt */
.contact {
    text-align: center;
    padding: 20px;
}

.contact-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.contact-item 
{
    flex: 1 1 calc(25% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item:hover 
{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.contact-item h3 
{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #20252b;
}

.contact-item a 
{
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.contact-item a:hover 
{
    text-decoration: underline;
}

/* Stylowanie linku do e-maila */
.email-link {
    display: inline-block;
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.email-link:hover 
{
    background-color: #ffffff;
}

/* Dostosowanie dla social media */
.contact-social 
{
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 10px;
}

.contact-social a 
{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact-social a:hover 
{
    text-decoration: underline;
}

/* Kolory specyficzne dla platform */
.contact-social a[href*="facebook.com"] 
{
    color: #3b5998;
}

.contact-social a[href*="facebook.com"]:hover 
{
    color: #2d4373;
}

.contact-social a[href*="instagram.com"] 
{
    color: #e4405f;
}

.contact-social a[href*="instagram.com"]:hover 
{
    color: #c13584;
}


/* Responsywność */
@media (max-width: 768px) 
{
    .contact-container 
    {
        flex-direction: column;
    }

    .contact-item 
    {
        flex: 1 1 100%;
    }
}



/* Sekcja "Dlaczego BHP jest ważne?" */
.why-bhp 
{
    background-color: #f9fbff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.why-bhp h2 
{
    font-size: 2em;
    color: #1a2235;
    margin-bottom: 20px;
}

.why-bhp ul 
{
    list-style-type: none;
    padding: 0;
}

.why-bhp li 
{
    margin-bottom: 15px;
    font-size: 1.1em;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.why-bhp li::before 
{
    content: "✔";
    color: #4caf50;
    font-size: 1.2em;
}
.why-bhp 
{
    background-color: #f9fbff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; 
}

.why-bhp:hover 
{
    transform: scale(1.02); 
}


/* Responsywność */
@media (max-width: 768px) 
{
    .biography 
    {
        flex-direction: column;
        text-align: center;
    }

    .biography .portrait 
    {
        margin: 10px 0;
    }

    .services-wrapper 
    {
        padding: 15px;
    }

    .contact-container 
    {

        flex-direction: column;
        gap: 15px;
    }
}
/* Stopka */
footer 
{
    text-align: center;
    background-color: #20252b;
    color: #fff; 
    padding: 20px; 
    position: relative;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    font-size: 1em; 
}

footer p 
{
    margin: 0;
    font-weight: bold; 
}

/* Kontener mapy - szerokość dopasowana do innych elementów */
.store-locator {
    width: 80%;
    max-width: 1050px;  /* Maksymalna szerokość mapy */
    height: 500px;
    margin: 20px auto;  /* Centrowanie mapy */
    border: 3px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

/* Stylowanie iframe (mapy) */
.store-locator iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Dodanie przycisków powiększania i zmniejszania */
.store-locator .zoom-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 10; /* Upewnienie się, że przyciski są nad mapą */
}

.store-locator .zoom-buttons button {
    background-color: #20252b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.store-locator .zoom-buttons button:hover {
    background-color: #e7da20;
}

/* Responsywność mapy */
@media (max-width: 768px) {
    .store-locator {
        height: 500px;  /* Większa wysokość dla lepszej widoczności */
    }
}

@media (max-width: 480px) {
    .store-locator {
        height: 400px;  /* Zwiększona wysokość dla telefonów */
    }

    .store-locator .zoom-buttons {
        top: auto;
        bottom: 10px; /* Przesunięcie przycisków na dół mapy */
        right: 10px;
    }

    .store-locator .zoom-buttons button {
        padding: 8px; /* Mniejsze przyciski dla lepszego dopasowania */
    }
}




/* Sekcja z ramkami */
.framed-section {
    border: 3.5px solid #ffffff;
    padding: 20px;
    margin: 45px auto;
    background: #fff;
    border-radius: 8px;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(15, 14, 105, 0.473);
    transition: transform 0.6s ease, box-shadow 0.6s ease, background-color 0.6s ease;
}

/* Efekt hover dla sekcji */
.framed-section:hover {
    transform: scale(1.02); /* Powiększenie sekcji */
    box-shadow: 0 6px 12px rgba(26, 36, 128, 0.377); /* Zwiększony cień */
    background-color: #ffffff; /* Zmiana koloru tła */
}

/* Sekcja "Skontaktuj się z nami" i "Biografia" */
.contact-item:hover, 
.biography:hover {
    transform: scale(1.02); /* Powiększenie na hover */
    box-shadow: 0 6px 12px rgba(18, 20, 128, 0.486); /* Zwiększenie cienia */
    background-color: #ffffff; /* Zmiana koloru tła */
}

